/* Mobile & tablet */ 
@media (max-width: 1023px) {
    
    .hide-on-mobile-tablet {
        display: none;
    }
    .header {
        position: fixed;
        z-index: 9;
        top: 0;
        right: 0;
        left: 0;
    }
    .header__cart-list {
        position: fixed;
        right: 0;
        top: var(--header-height);
        width: 100%;
        padding: 0 calc((100% - 644px) / 2);
    }
    .app__container {
        margin-top: calc(var(--header-height) + var(--header-sort-bar-height));
    }
    .header__sort-bar {
        display: flex;
    }
    .app__content {
        padding-top: 8px;
    }
    .mobile-category {
        display: block;
    }
    .header__search-history-heading-wrapper i{
        display: block;
    }
    
}

/* Tablet */ 
@media (min-width: 740px) and (max-width: 1023px) {
    :root {
        --header-height: 68px;
        --navbar-height: 0px;
    }
    .hide-on-tablet {
        display: none;
    }
    .header__cart {
        width: 80px;
        text-align: right;
    }
    .header__search-history-heading-wrapper i{
        font-size: 1.2rem;
    }
}

/* Mobile */
@media (max-width: 739px) {
    :root {
        --header-height: 54px;
        --navbar-height: 0px;
    }
    .hide-on-mobile {
        display: none;
    }
    .header-with-search {
        justify-content: space-between;
    }
    .header__cart,
    .header__logo {
        width: unset;
    }
    @keyframes mobileSearchSideIn {
        from {
            opacity: 0;
            top: calc(var(--header-height) / 2);
        }
        to {
            opacity: 1;
            top: var(--header-height);
        }
    }
    .header__search {
        position: fixed;
        right: 0;
        left: 0;
        top: var(--header-height);
        height: 46px;
        z-index: 1;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        padding: 0 16px;
        animation: mobileSearchSideIn linear 0.3s;
        display: none;
    }
    .header__search-history {
        position: fixed;
        top: calc(var(--header-height) + var(--header-sort-bar-height));
        width: 100%;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    }
    .pagination-item {
        margin: 0;
    }
    .pagination-item__link {
        --height: 28px;
        font-size: 1.6rem;
        min-width: 36px;
    }
    .app__content {
        margin: 0 4px;
    }
    .home-product-item__like {
        font-size: 0.9rem;
    }
    .home-product-item__rating {
        font-size: 0.6rem;
        padding-left: 4px;
        margin: 0px 6px 1px auto;
    }
    .home-product-item__sold {
        width: auto;
    }
    .header__mobile-search {
        display: block;
    }
    .header__logo-img {
        width: 110px;
    }
    .header__mobile-list {
        display: block;
    }
    .header__sort-link--active::after {
        position: absolute;
        content: "";
        bottom: -1px;
        left: 25%;
        right: 50%;
        border-bottom: 2px solid var(--primary-color);
    }
    .footer__content {
        padding: 0 16px;
    }
    .footer__heading {
        text-align: center;
    }
    .footer__download,
    .footer-item__link {
        justify-content: center;
    }
    .footer__download-apps {
        flex: unset;
    }
    .footer__download-app-link {
        display: block;
        padding: 2px 8px;
    }
    .header__cart-list::after {
        right: 11px;
    }
}